.profile {
    background-color: $color-dark-blue;
    border-radius: 1rem;

    &__content {
        display: flex;
        align-items: center;
        background-color: $color-blue;
        color: $color-white;
        padding: 2rem;
        border-radius: 1rem;
    }

    &__photo {
        width: 4.5rem;
        border-radius: 50%;
        border: 3px solid $color-white;
        margin-right: 1rem;
    }

    &__text {
        font-size: 0.875rem;
        color: $color-pale-blue;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.5rem;
    }

    &__navlist {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        background-color: $color-dark-blue;
        border-radius: 1rem;
    }

    .button {
        color: $color-grayish-blue;
        background: none;
        border: none;
        font-family: $font-family;
        font-size: 1rem;
        cursor: pointer;

        &--active {
            color: $color-white;
        }
    }

    @media screen and (min-width: $desktop-screen) {

        &__content {
            flex-direction: column;
            align-items: unset;  
            padding-bottom: 4rem;
        }
    
        &__photo {
            width: 35%;
            margin-bottom: 2rem;
        }
    
        &__name {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    
        &__navlist {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
        }
    }

}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5vh;

    @media screen and (min-width: $desktop-screen) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2.5vh;
    }
}

@mixin card($color) {
    color: $color-white;
    border-radius: 1rem;
    
    &__image {
        background-color: $color;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        border-radius: 1rem;
        height: 5rem;
        overflow: hidden;
    }

    &__image img{
        margin-top: -10px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        background-color: $color-dark-blue;
        padding: 2rem;
        position: relative;
        margin-top: -1.875rem;
        border-radius: 1rem;
    }

    &__title {
        font-size: 1.125rem;
    }

    &__timer {
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    &__status {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__weeker {
        font-size: 0.875rem;    
        line-height: 1.5rem;
        color: $color-pale-blue;
    }

    @media screen and (min-width: $desktop-screen) {

        &__image {
            height: 4rem;
        }
    
        &__image img{
            margin-top: -8px;
        }
    
        &__content {
            display: block;
            margin-top: -1.5rem;   
        }
    
        &__title {
            font-size: 1.125rem;
        }
    
        &__timer {
            font-size: 3rem;
            font-weight: 300;
        }
    
        &__status {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__menu {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

    }
}

.work-card {
    @include card($color-work-red);
}

.play-card {
    @include card($color-play-blue);
}

.study-card {
    @include card($color-study-red);
}

.exercise-card {
    @include card($color-exercise-green);
}

.social-card {
    @include card($color-social-violet);
}

.selfcare-card {
    @include card($color-selfcare-orange);
}

footer {
    color: $color-white;
    text-align: center;

    @media screen and (min-width: $desktop-screen) {
        grid-column: span 4;
    }
}